.samurai-root {
    -fx-background-color: black;
}

/* App Title */
.app-title {
    -fx-font-family: "Serif";
    -fx-font-size: 68px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-letter-spacing: 12px;
    -fx-effect: dropshadow(gaussian, #D86477, 20, 0.5, 0, 0);
}

.app-subtitle {
    -fx-text-fill: #FFB7C5;
    -fx-letter-spacing: 8px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.input-label {
    -fx-text-fill: white;
    -fx-font-family: 'Serif';
    -fx-font-size: 13px;
    -fx-opacity: 0.9;
}

/* Floating Input Boxes */
.text-field, .password-field {
    -fx-background-color: rgba(255, 255, 255, 0.85); 
    -fx-background-radius: 0;
    -fx-border-color: #FFB7C5; 
    -fx-border-width: 0 0 5 0;
    -fx-padding: 15;
    -fx-font-family: "Serif";
    -fx-font-size: 18px;
    -fx-text-fill: #5D4037;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #D86477;
    -fx-background-color: white;
}

/* Sakura Button */
.samurai-button {
    -fx-background-color: transparent;
    -fx-border-color: #D86477;
    -fx-border-width: 2;
    -fx-text-fill: #D86477;
    -fx-font-family: "Serif";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-padding: 12 0; /* Vertical padding only, width controlled by VBox */
    -fx-cursor: hand;
}

.samurai-button:hover {
    -fx-background-color: #D86477;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #FFB7C5, 15, 0, 0, 0);
}

.sakura-leaf {
    -fx-background-color: #FFB7C5;
    -fx-background-radius: 45% 5% 45% 5%;
    -fx-opacity: 0.7;
}

.message-label {
    -fx-text-fill: #FFB7C5;
    -fx-font-size: 14px;
}